<!doctype html>
<html>
<head>
	<style>
		table, th, td {
		  border: 1px solid black;
		}
	</style>
</head>
	<body>
		<form action = "" method = "post">
			<h1> Rock Paper Scissors! Flask...</h1>
			<input type="submit" name="submit_button" value="Rock">
			<input type="submit" name="submit_button" value="Paper">
			<input type="submit" name="submit_button" value="Scissors">
			<br/>
			<br/>
			<br/>
			<input type="submit" name="submit_button" value="Impossible Mode">
			<p> The AI will never lose. </p> 
			<sub> It's not really an AI... have a look at the github. :) </sub>
			<br/>
			<br/>
			<b> Winner:</b>	   {{ output }}
			<br/>
			<br/>
			<b> Score <b/>    
			<table style="width:25%">
			<tr>
				<td> Player </td>
				<td> AI</td>
			</tr>
			<tr>
				<td> {{player}} </td>
				<td> {{AI}} </td>
			</tr>
			</table>
			<br>
			<p> {{impossibleMode}}</p>

			<br/>
			<br/>
			<br/>
			<input type="submit" name="submit_button" value="New Game?">
		</form>
	</body>
</html>
